<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Staff</title>
</head>
<style>
    .nav a{
        margin: 10px 20px;
    }
</style>
<body>
    <div class="nav">
        <a href="dashboard">Dashboard</a>
        <a href="addstaff"> Add Staff</a>
        <a href="addtask"> Add Task</a>
        <a href="managestaff"> Manage Staff</a>
        <a href="managetask"> Manage Task</a>
        <a href="viewstaff"> View Staff</a>
        <a href="viewtask">View Task</a>
</div>
<h1 align="center">Manage Staff</h1>
    <table border="1" align="center" cellpadding="2">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Update</th>
        <th>Delete</th>

        <% result.forEach(function(user){ %>

            <tr>
                <td><%=user.id%></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.password%></td>
                <td><a href="/update/<%= user.id%>">Update</a></td>
                <td><a href="/delete/<%= user.id%>">Delete</a></td>
            </tr>
        <%})%>
    </table>
</body>
</html>